/* REGOLE GENERALI */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.bordered{
    border: 1px dashed black;
}

.container{
    max-width: 1000px;
    margin: auto;
    background-color: orange;
}

main section, footer section{
    padding: 2rem 0;
}

.my_btn{
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 25px;
}

:root{
    --primary-color: #0084FD;
    --primary-color-light: #85ddff;
}

/* HEADER */

header {
    background-color: var(--primary-color);
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header .container{
    justify-content: space-between;
    align-items: center;
}

header img {
    vertical-align: middle;
}

header .container li{
    list-style: none;
    padding: 0 10px;
}

header .container li a:not(.my_btn){
    text-decoration: none;
    color: white;
}

header .my_btn{
    color: black;
    background-color: white;
}

/* MAIN */

main{
    margin-top: 60px;
}

/* JUMBO */

#jumbo .cards{
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

#jumbo .cards .card{
    width: calc((100% / 3) - 1rem);
    margin: 0 0.5rem;
    padding: 10px;
}

#jumbo .cards .card:first-child{
    width: calc(((100% / 3) * 2) - 1rem);
}

#jumbo .card:not(:first-child){
    text-align: center;
}

#jumbo h3{
    padding-bottom: 1rem;
}

#jumbo .demo{
    padding-right: 100px;
}

#jumbo .app_store{
    padding: 2rem 0;
}

#jumbo .my_btn{
    padding: 5px 30px;
    color: white;
    background-color: var(--primary-color);
}

#jumbo .app_store i{
    padding: 0 5px;
}

#jumbo .img_app{
    align-self: flex-end;
}

#jumbo .container .cards .card img{
    width: 75%;
}

#jumbo .icon{
    font-size: 3em;
    padding: 10px 0;
}

/* PLANNING */

#planning .container{
    width: 768px;
    margin: auto;
}

#planning .container .col{
    width: 50%;
}

#planning .container .col:last-child{
    width: 50%;
    align-self: flex-end;
}

#planning .app_developement{
    width: 70%;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
}

#planning .app_developement p{
    padding: 10px 0;
}

#planning .app_developement .arrow{
    border-radius: 50%;
    margin-top: 20px;
}

#planning .container .col .img_planning_1{
    width: 70%;
}

#planning .container .col .img_planning_2{
    width: 60%;
}

#planning .container .col > div:not(.left) {
    text-align: center;
}

#planning .left{
    padding: 50px 30px 0 55px;
}

#planning .left h3{
    padding-bottom: 20px;
}

/* PARTNERS */

#partners .container{
    text-align: center;
}

#partners .row{
    padding: 20px 10px;
    border-radius: 25px;
    margin-bottom: 20px;
}

#partners .col{
    color: white;
}

#partners .col p{
    padding-bottom: 15px;
}

#partners .row:first-child{
    padding-top: 20px;
}

#partners .row .col:first-child{
    width: 20%;
}

#partners .row .col:last-child{
    width: 80%;
    text-align: left;
    align-self: center;
}

#partners .img_testimonial_1{
    background-image: url("../img/testimonial1.jpg");
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

#partners .img_testimonial_2{
    background-image: url("../img/testimonial2.jpg");
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

#partners .img_testimonial_3{
    background-image: url("../img/testimonial3.jpg");
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
}

#partners h2{
    padding: 20px 0;
}

#partners .sub_title{
    padding-bottom: 20px;
}

/* BENEFITS */

#benefits h2{
    text-align: center;
    padding-bottom: 30px;
}

#benefits .container_cards{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

#benefits .container_cards .card{
    width: calc((100% / 3) - 20px);
    padding: 20px;
    border-radius: 25px;
}

#benefits .number{
    font-size: 3em;
}

#benefits h3{
    padding: 10px 0;
}

#benefits .card div{
    padding-top: 20px;
}

#benefits .card .my_btn{
    padding: 5px 30px;
    color: white;
}

/* ABOUT */

#about .row .col:first-child{
    width: 70%;
    padding: 0 30px;
}

#about .row .col:last-child{
    width: 30%;
    padding: 0 80px 0 20px;
}

#about img{
    width: 50%;
}

#about h1{
    font-size: 2.5em;
}

#about p{
    padding: 20px 0;
}

#about .img_about{
    background-image: url("../img/about.jpg");
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    position: relative;
}

#about h3{
    padding: 20px 0;
}

#about .my_btn{
    color: white;
}

#about span{
    color: white;
    font-size: 3em;
    position: absolute;
    top: 0;
    right: 0;
}



/* GET STARTED */

#get_started .container, footer .container{
    max-width: 480px;
    margin: auto;
    text-align: center;
}

#get_started  p{
    padding: 30px 0;
}

#get_started .giant{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 0px;
}

#get_started  .my_btn{
    padding: 10px 40px;
}

/* FOOTER */

.container .end{
    padding-top: 40px;
}