/* REGOLE GENERALI */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.bordered{
    border: 1px dashed black;
}

.container{
    max-width: 1000px;
    margin: auto;
    background-color: orange;
}


/* HEADER */

header {
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header .container{
    justify-content: space-between;
    align-items: center;
}

header img {
    vertical-align: middle;
}

header .container li{
    list-style: none;
    padding: 0 10px;
}

header .container li a{
    text-decoration: none;
    color: white;
}


/* MAIN */

main{
    margin-top: 60px;
}

/* JUMBO */

#jumbo .container{
    flex-wrap: wrap;
}

#jumbo .container .card{
    width: calc(100% / 3);
    flex-grow: 0;
}

#jumbo .container .cards{
    width: calc(100% / 2);
    flex-grow: 1;
}

#jumbo .container .cards .card{
    width: calc(100% / 2);
}

#jumbo .container .card:not(:first-child){
    text-align: center;
}

#jumbo .container .cards .card img{
    width: 50%;
}



/* PLANNING */

#planning .container{
    width: 768px;
    margin: auto;
}

#planning .container .col{
    width: 50%;
}

#planning .container .col:last-child{
    align-self: flex-end;
}

#planning .container .col .img_planning_1{
    width: 60%;
}

#planning .container .col .img_planning_2{
    width: 50%;
}

#planning .container .col > div:not(.left) {
    text-align: center;
}


/* PARTNERS */



/* BENEFITS */

#benefits .container{
    flex-wrap: wrap;
}

#benefits .container .card{
    width: calc(100% / 3);
}

/* ABOUT */




/* GET STARTED */

#get_started .container, footer .container{
    max-width: 480px;
    margin: auto;
    text-align: center;
}